
body {

margin: 0 10%;
font-family: sans-serif;
}

header {
    background-color: #9abcf8;
    color: white;
    padding: 2rem;
}

h1 {
font-size: 2rem;
}
h2 {

font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

.circle {
    border-radius: 50%;
    border: 5px solid #9abcf8
}