* {
    box-sizing: border-box;
    font-family: sans-serif;

}
body {

margin: 0;
background-image: url("../images/bg.png");
}


header {
    background-color: #9abcf8;
    color: white;
    padding: 2rem;
}

h1 {
font-size: 2rem;
}
h2 {

font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

.circle {
    border-radius: 50%;
    border: 5px solid #9abcf8
}

/********** Layout *********/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);

}
.container > * {
    grid-column: span 12;
}


/* desktop layout */
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
}